In [1]:
A = [1,2,3,4,5,6] 
B = [13, 21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [4]:
# to create identity matrix in python
import numpy as np
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [3]:
import pandas as pd
url='http://bit.ly/HDSC-Dataset'
fuel_data=pd.read_csv(url, error_bad_lines=False)
fuel_data.describe(include='all')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_1994_12_46_1_10,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [5]:
fuel_data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [8]:
# to find the lowest average cost per unit burned
# you first group it by using a groupby() method
fuel_data.groupby('fuel_cost_per_unit_burned')['fuel_cost_per_unit_burned'].count()
fuel_data[['fuel_cost_per_unit_burned']]=fuel_data[['fuel_cost_per_unit_burned']].min().mean()
print (fuel_data[['fuel_cost_per_unit_burned']])

       fuel_cost_per_unit_burned
0                        -276.08
1                        -276.08
2                        -276.08
3                        -276.08
4                        -276.08
...                          ...
29518                    -276.08
29519                    -276.08
29520                    -276.08
29521                    -276.08
29522                    -276.08

[29523 rows x 1 columns]

In [19]:
# question 4: standard deviation and the 75th percentile of(fuel_mmbtu_per_unit)
fuel_data.groupby('fuel_mmbtu_per_unit')['fuel_mmbtu_per_unit'].count()
fuel_data[['fuel_mmbtu_per_unit']].std()

fuel_mmbtu_per_unit   NaN
dtype: float64

In [17]:
fuel_data.groupby('fuel_mmbtu_per_unit')['fuel_mmbtu_per_unit'].count()
fuel_data[['fuel_mmbtu_per_unit']].describe()

       fuel_mmbtu_per_unit
count                  0.0
mean                   NaN
std                    NaN
min                    NaN
25%                    NaN
50%                    NaN
75%                    NaN
max                    NaN

In [20]:
#questio 5 for skewness and kurtosis
fuel_data.groupby('fuel_qty_burned')['fuel_qty_burned'].count()
fuel_data[['fuel_qty_burned']].skew()

fuel_qty_burned    15.851495
dtype: float64

In [21]:
fuel_data.groupby('fuel_qty_burned')['fuel_qty_burned'].count()
fuel_data[['fuel_qty_burned']].kurt()

fuel_qty_burned    651.36945
dtype: float64

In [22]:
#question 6 to find feature with missing values and the tottal number and percentage of the missing rows
fuel_data.isnull().sum()

record_id                           0
utility_id_ferc1                    0
report_year                         0
plant_name_ferc1                    0
fuel_type_code_pudl                 0
fuel_unit                         180
fuel_qty_burned                     0
fuel_mmbtu_per_unit             29523
fuel_cost_per_unit_burned           0
fuel_cost_per_unit_delivered        0
fuel_cost_per_mmbtu                 0
dtype: int64

In [24]:
# question 8 
fuel_data.groupby('fuel_cost_per_unit_burned')['fuel_cost_per_unit_burned'].count()
fuel_data[['fuel_cost_per_unit_burned']].describe(include='all')

       fuel_cost_per_unit_burned
count               2.952300e+04
mean               -2.760800e+02
std                 6.258566e-11
min                -2.760800e+02
25%                -2.760800e+02
50%                -2.760800e+02
75%                -2.760800e+02
max                -2.760800e+02